[Desktop Entry]
Type=Application
Version=1.0
Name=Pyqt-password
Comment=Gestión gui de pass en Qt
Path=/usr/share/pyqt-password
Exec=/usr/bin/pyqt-pass.sh
Icon=''
StartupNotify=true
Terminal=false
Categories=Utility
